{% extends "base.html" %}

{% block title %}
    Lista filmów
{% endblock %}

{% block content %}
    <h1>Welcome to HollyMovies!</h1>
    We have {{ object_list | length }} movie{{ object_list|length|pluralize:"s" }}
    <ul>
<!--    object_list jest z klasy MoviesView    -->
        {% for movie in object_list %}
        <li>
            <a href="{% url 'viewer:movie_details' movie.id %}">{{ movie.title | upper }} ({{ movie.released.year }}) - {{ movie.genre.name }}, {{ movie.description | truncatewords:4 }}</a>
        </li>
        {% empty %}
        <h5>Nie ma nic do wyświetlenia!</h5>
        {% endfor %}
    </ul>
<a href="{% url 'viewer:movie_create' %}" class="btn btn-info">Add movie</a>

{% endblock %}